:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --desaturated-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray-blue);
  font-family: "Manrope", sans-serif;  
}

section {
  width: 730px;
  height: 280px;
  background: var(--light-gray-blue);
  border: black;
  border-radius: 10px;
  overflow: hidden;  
  margin: auto;
  margin-top: 170px;
  box-shadow: 0px 10px 30px 0px rgba(142, 146, 150, 0.503);
  display: flex;
}

.image-container {
  background: url(./images/drawers.jpg); 
  background-size: cover;
  width: 280px;
  height: 100%;
  cursor: pointer;  
}

.image-container:hover {
  cursor: pointer;
  transition: filter .5s;
  filter:brightness(115%)
}

.text-container {  
  width: 450px;
  height: 100%;  
}

.title h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-gray-blue);
  letter-spacing: 0.4px;
  line-height: 1.4;
  padding-left: 40px;
  padding-right: 40px;  
  margin-top: 32px;
}

.description p {
  font-size: 12px;
  color: var(--desaturated-blue);
  letter-spacing: 0.4px;
  line-height: 1.5;
  padding-left: 40px;
  padding-right: 40px;  
  margin-top: 15px;
}

.social {
  padding-left: 40px;  
  display: flex;
  font-size: 12px;
  margin-top: 33px;
}

.social img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.social p{
  font-size: 13px;
  font-weight: 700;
  padding-left: 15px;  
  margin-top: 3px;
}

time {
  padding-left: 15px; 
  color: var(--gray-blue);
}

.arrow {
  border-radius: 50%;
  background-color:hsla(212, 23%, 69%, 0.145);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-left: 150px;
}

.arrow:hover {
  background: var(--gray-blue);
  transition: filter .7s;
  filter: brightness(115%)
}

.arrow img{
  width: 17px;
  height: 15px;
}

.share {  
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(245px, -105px);    
  background-color: var(--dark-gray-blue);
  padding: 0px 30px;
  height: 46px;  
  width: 219px;
  border-radius: 10px;
  visibility: hidden;
}

.share::after {  
  content: "";  
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: 45%;
  transform: rotate(45deg);
  background-color: var(--dark-gray-blue);    
}

.share p {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.734);
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 3.7px;
  padding-right: 22px;
  padding-bottom: 3px;  
}

a img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.show {
  visibility: visible;
  opacity: 1;  
  box-shadow: 0px 10px 30px 0px rgba(142, 146, 150, 0.618);
}

ul {
  list-style: none;
  display: flex;
  align-items: baseline;
}

li {
  padding-right: 25px;
}

.attribution {
  display: block;
  font-size: 12px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

.attribution a {
  color: hsl(34, 61%, 53%);
  text-decoration: none;
  padding-left: 2px;
}



@media screen and (max-width: 850px) {
  

  section {
    width: 360px;
    height: 520px;    
    margin-top: 45px;
    display: block;
  }

  .image-container {
    flex: 1;
    width: 100%;
    height: 220px;    
  }

  .text-container { 
    width: 100%;
    height: 300px;    
  }

  .title p{
    padding-left: 30px;
    padding-right: 30px;  
    margin-top: 20px;
  }

  .description p {
    padding-left: 30px;
    padding-right: 30px;  
    margin-top: 10px;
  }  

  .social {
    padding-left: 30px;
    margin-top: 29px;      
  }

  .arrow {
    z-index: 2;
    margin-left: 93px;
  }  

  .share {      
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 300px;
    height: 70px;
    transform: translate(0%, -76%);    
  }

  .share::after {
    width: 0px;    
  }

  .share p{
    font-size: 18px;
    padding-right: 35px;
  }
 
}
